<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <style>
      body {
        color: #fff;
        background-color: #333;
        text-align: center;
        padding-top: 100px;
      }
      a {
        font-size: 30px;
        color: inherit;
      }
    </style>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, rem,
      id facilis iure tempora a, nemo provident eius et veritatis quidem
      incidunt at. Corporis deleniti laborum inventore, animi, eius quos
      mollitia nostrum blanditiis ea voluptates omnis corrupti doloremque culpa
      consequatur modi reprehenderit unde nemo laudantium accusantium! Id,
      fugiat dolorum accusantium nostrum, quod incidunt unde facere molestiae
      quia temporibus ea velit! Amet fugiat ipsam, eaque esse blanditiis ex
      adipisci voluptas. Iusto, ut neque optio non reiciendis itaque rerum, nisi
      delectus nobis pariatur earum provident alias, eaque dolores officia.
      Dolores accusantium exercitationem ducimus enim alias, suscipit temporibus
      non sed molestias quaerat nam veritatis ipsam. Cumque dolores dolore quam
      vel minima harum mollitia fugit aliquam alias, maxime amet nam natus a
      dignissimos atque incidunt excepturi. Maxime magnam asperiores odio optio
      quod, animi aperiam quisquam harum, numquam unde vero debitis ad delectus
      omnis amet officia iure aspernatur nulla blanditiis. Quod quia fugit at!
      Iure animi dignissimos quod consequatur molestiae distinctio deleniti
      nobis dolorum saepe eum voluptatem soluta voluptate officia alias officiis
      nulla eveniet doloremque hic non ipsa iusto harum obcaecati, recusandae
      quos. Laudantium ipsam nesciunt, ipsa quas ex suscipit exercitationem
      possimus facilis? Beatae necessitatibus est deleniti nihil aperiam error,
      quaerat pariatur id repellendus rem minus unde maiores? Deleniti
      doloremque debitis eveniet eaque eos sed, enim amet dignissimos doloribus!
      Non mollitia veritatis dolorem quod aliquam iusto iste! Qui quae
      laboriosam et sunt nesciunt architecto similique, delectus accusantium
      possimus nostrum ratione repudiandae ab obcaecati veritatis. Nisi,
      repudiandae dolorem sapiente placeat odio vel pariatur qui in quae ex
      voluptatibus! Deleniti non aliquam, quos a ab itaque officia obcaecati
      nihil eaque laudantium optio facilis minima est, eius reiciendis numquam
      perferendis in atque voluptate quod aut soluta nemo consectetur. Incidunt
      amet rerum dolorum asperiores aut, natus, quod nemo maiores totam
      consectetur recusandae explicabo ut accusamus eum illum, hic modi? Optio
      ea sapiente placeat dolore sit maiores assumenda velit ducimus soluta,
      autem quas, natus beatae tenetur rerum libero minus omnis, exercitationem
      at iure molestiae. Repellendus aperiam totam aspernatur ea possimus
      deleniti. Cum perspiciatis impedit cupiditate veritatis, repudiandae sunt
      tempora veniam, error laboriosam dolorum voluptatum non, laborum ipsum
      amet ab expedita iure quam nihil vero delectus consectetur? Odit, vel
      rerum culpa alias debitis, laborum fugit quibusdam aspernatur omnis unde
      accusantium eos natus, pariatur possimus. Expedita obcaecati vero eos
      commodi ipsam aut qui quos repellendus nulla esse sapiente, quia
      perspiciatis incidunt nemo, iure repudiandae facilis recusandae laudantium
      dolor sint aperiam? Vel corporis voluptatum perferendis cupiditate, hic
      quasi aperiam culpa iusto, blanditiis fugiat illum nostrum. Corporis saepe
      harum beatae, aliquid excepturi iusto officiis quaerat tenetur impedit
      nesciunt voluptas explicabo suscipit earum culpa consectetur rem quae
      minima id iure quas corrupti mollitia voluptatum atque! Itaque minus
      voluptatibus praesentium voluptate nemo, aut labore laudantium non
      incidunt, inventore deleniti at modi vitae pariatur obcaecati ullam illo,
      fuga aspernatur. Molestias tempora modi sequi excepturi numquam deleniti
      sed! Corrupti explicabo dolore deleniti, necessitatibus autem error?
      Voluptates velit illo voluptas aspernatur dolorem debitis, similique nemo
      sunt nesciunt vel in adipisci expedita repellat quasi esse et vitae
      nostrum nihil. Libero?
    </p>
    <a href="/"> НА ГЛАВНУЮ</a>
  </body>
</html>
