<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <style>
      body {
        color: #fff;
        background-color: #333;
        text-align: center;
        padding-top: 100px;
      }
      a {
        font-size: 30px;
        color: inherit;
      }
    </style>
  </head>
  <body>
    <h1>ERROR</h1>
    <p>Ну ЧТО ТЫ БРАТ?</p>
    <a href="/"> НА ГЛАВНУЮ</a>
  </body>
</html>
