<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>api-node</title>
    <style>
      body {
        color: aliceblue;
        background-color: #333;
        text-align: center;
        padding-top: 100px;
      }
      a {
        font-size: 30px;
        color: inherit;
      }
    </style>
  </head>
  <body>
    <h1>Главная страница</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae nulla
      molestiae repellat, aliquam tempora adipisci commodi a, deleniti aut error
      ratione voluptatum quod vero repudiandae cupiditate, facilis temporibus
      repellendus. Iste.
    </p>
    <a href="/about">Прочитать о нас</a>
  </body>
</html>
